<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestJenkins.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AE1C69521C5EE7F0018641E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE1C6A921C5EE810018641E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE1C6B421C5EE810018641E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
